.container{
    margin-bottom: 5%;
}
.head-1{
    margin-right: 10%;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.see-all{
    font-size: 20px;
}
.see-all:hover{
    text-decoration: none;
    color: navy;
}
.one,.two,.two-2{
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 10px lightgray;
    cursor: pointer;
}
.carousel-indicators li {
    width: 12px;
    height: 9px;
    background-color: #cacaca;
    border-radius: 46%;
    }
    .carousel-indicators .active {
    opacity: 1;
    width: 32px;
    height: 9px;
    background-image: linear-gradient(45deg, #fdc21f, #fcc87a);
    border-radius: 44%;
    transition: .8s;
    }